html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  max-width: 100%;
  height: inherit;
  margin: 0 auto;
}

.header {
  display: flex;
  width: inherit;
  height: 10%;
  background: orange;
}

.logo__block {
  height: 100%;
  width: 200px;
  border: black 1px solid;
}

.nav__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 700px;
  border: black 1px solid;
}

.nav__button {
  width: 50px;
  height: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 80%;
}

.welcome {
  display: flex;
  width: inherit;
  height: 500px;
}

.welcome__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: inherit;
  border: black 1px solid;
}

.looney__video {
  width: 600px;
  height: 500px;
  z-index: 0;
  position: absolute;
  object-fit: cover;
}

.looney__display {
  width: 500px;
  height: 500px;
  z-index: 10;
  position: relative;
}

.white__plate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
  height: inherit;
  background: white;
  z-index: 5;
}

.welcome__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: black 1px solid;
}

.sound__button {
    width: 50px;
  height: 30px;
}

.footer {
  width: inherit;
  height: 10%;
  background: orange;
  bottom: 0px;
}