@font-face {
  font-family: 'BadaBoom BB';
  font-style: normal;
  font-weight: 400;
  src: local('BadaBoom BB'), local('BadaBoomBB-Regular'),
      url(https://allfont.net/cache/fonts/badaboom-bb_d25cfd5f1ad5928ae655d17683935866.woff) format('woff'),
      url(https://allfont.net/cache/fonts/badaboom-bb_d25cfd5f1ad5928ae655d17683935866.ttf) format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  }

.shadow__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 95;
  background: black;
  opacity: 0.5;
  position: absolute;
}

.show__shadow {
  top: 0px;
}

.results__desk {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: orange;
  z-index: 1000;
  border: 4px black solid;
  transition: ease-in-out 0.5s;
  top: -310px;
  left: 50%;
  margin-left: -150px;
}

.show__results {
  top: 200px;
}

.results__list {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  border: 4px black solid;
  background-color: white;
}



.play__again {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 100px;
  height: 50px;
  z-index: 1000;
  border: 4px black solid;
  background-color: orange;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  width: inherit;
  height: 10%;
  background: orange;
}

.logo__block {
  height: 100%;
  width: 200px;
  background-image: url("./../../assets/images/loony-tunes-main_2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 700px;
}

.nav__button {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 200px;
  height: 40px;
  background-color: orange;
  cursor: pointer;
}

.results__button {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 200px;
  height: 40px;
  background-color: orange;
  cursor: pointer;
}

.results__block {
  display: flex;
  height: 100%;
  width: 200px;
}

.results__block__count {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.results__block__score {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  height: 80%;
  }

.questions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  height: 10%;
}

.questions__active {
  background-color: violet;
}

.stage {
  font-family: "BadaBoom BB";
  font-style: normal;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.66%;
  height: 100%;
  text-align: center;
  border: black 1px solid;
}

.current__question {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 25%;
}

.hero__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border: black 4px solid;
  background-image: url("./../../assets/images/question.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  z-index: 50;
  transform: rotate(-5deg);
}

.hero__guess {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.hero__name {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  text-indent: 10px;
  width: 100%;
  height: 40%;
  border: black 1px solid;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
  border: black 1px solid;
}

.player__box {
  display: flex;
  width: 140px;
  height: 70px;
}

.player__button {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-image: url("./../../assets/images/rupor-button.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
  border: none;
  cursor: pointer;
}

.player__voice {
  display: none;
  width: 70px;
  height: 70px;
  background-size: 70%;
  background-image: url("./../../assets/images/rupor-voice.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.player__voice__alarm {
  display: flex;
}

.seek__slider,
.volume__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 100%;
}

.seek__slider::-webkit-slider-thumb,
.volume__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: orange;
  cursor: pointer;
  border-radius: 50%;
}

.seek__slider:hover,
.volume__slider:hover {
  opacity: 1.0;
}

.game {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 55%;
}

.answers {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.variant {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16.66%;
  border: black 1px solid;
  text-decoration: none;
}

.variant__true {
  background-color: limegreen;
}

.variant__false {
  background: red;
}

.variant__empty {
  opacity: 1;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  border: black 5px solid;
  transform: rotate(3deg);
  background-color: white;
  z-index: 50;
}

.description-cover {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  width: 600px;
  height: 315px;
  position: absolute;
  z-index: 90;
  background-color: white;
  text-align: center;
}

.description-cover__hide {
  height: 0px;
}

.description__container {
  width: 600px;
  height: 330px;
  position: relative;
}

.description__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}

.description__header__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  border: black 1px solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.description__header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}

.description__header__content__name {
  font-family: "BadaBoom BB";
  font-style: normal;
  letter-spacing: 1px;
  width: 100%;
  height: 15%;
  border: black 1px solid;
}

.description__header__content__nickname {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  height: 15%;
  border: black 1px solid;
}

.description__header__content__player {
  width: 100%;
  height: 70%;
  border: black 1px solid;
}

.block__player__box {
  display: flex;
  width: 100px;
  height: 50px;
}

.block__button {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url("./../../assets/images/rupor-button.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
  border: none;
  cursor: pointer;
}

.block__player__voice {
  display: none;
  width: 50px;
  height: 50px;
  background-size: 70%;
  background-image: url("./../../assets/images/rupor-voice.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.block__voice__alarm {
  display: flex;
}

.seek__block__slider,
.volume__slider__block {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 100%;
}

.seek__block__slider::-webkit-slider-thumb,
.volume__slider__block::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: orange;
  cursor: pointer;
  border-radius: 50%;
}

.seek__block__slider:hover,
.volume__slider__block:hover {
  opacity: 1.0;
}

.description__footer {
  display: inline-block;
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  border: black 1px solid;
  overflow: hidden;
}

.next__question {
  font-family: "BadaBoom BB";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
  width: 1200px;
  height: 40px;
  border: black 2px solid;
  cursor: pointer;
}

.next__question__press {
  background-color: limegreen;
}

.footer {
  width: inherit;
  height: 10%;
  background: orange;
  bottom: 0px;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.link {
  display: flex;
  justify-content: center;
  width: 33%;
  height: 100%;
}

.rss__logo {
  width: 33%;
  height: 100%;
  background-image: url("./../../assets/icons/rss.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.date__creation {
  font-family: "BadaBoom BB";
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  width: 33%;
  height: 100%;
  text-align: center;
}

.github__link {
  width: 33%;
  height: 100%;
  background-image: url("./../../assets/icons/github.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


@media (max-width: 1200px) {


  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .shadow__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 95;
    background: black;
    opacity: 0.5;
    position: absolute;
  }
  
  .show__shadow {
    top: 0px;
  }

  .results__desk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: orange;
    z-index: 1000;
    border: 4px black solid;
    transition: ease-in-out 0.5s;
    top: -310px;
    left: 50%;
    margin-left: -150px;
  }

  .show__results {
    top: 200px;
  }

  .description-cover {
    width: 370px;
    height: 315px;
    position: absolute;
    z-index: 90;
    background-color: white;
  }

  .description__container {
    width: 370px;
    height: 330px;
    position: relative;
  }

  .next__question {
    width: 750px;
    height: 40px;
  }
}


@media (max-width: 750px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .shadow__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 95;
    background: black;
    opacity: 0.5;
    position: absolute;
  }
  
  .show__shadow {
    top: 0px;
  }

  .results__desk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: orange;
    z-index: 1000;
    border: 4px black solid;
    transition: ease-in-out 0.5s;
    top: -310px;
    left: 50%;
    margin-left: -150px;
  }

  .show__results {
    top: 200px;
  }

  .logo__block {
    height: 100%;
    width: 80px;
    background-image: url("./../../assets/images/loony-tunes-main_2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 200px;
  }

  .nav__button {
    font-family: "BadaBoom BB";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 150px;
    height: 30px;
    background-color: orange;
    cursor: pointer;
  }
  
  .results__button {
    font-family: "BadaBoom BB";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 150px;
    height: 30px;
    background-color: orange;
    cursor: pointer;
  }

  .results__block {
    display: flex;
    height: 100%;
    width: 100px;
    font-size: 12px;
  }
  
  .next__question {
    width: 360px;
    height: 40px;
  }

  .hero__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border: black 4px solid;
    background-image: url("./../../assets/images/question.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__guess {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    border: black 1px solid;
  }

  .hero__name {
    width: 100%;
    height: 20%;
    border: black 1px solid;
  }
  
  .player {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    border: black 1px solid;
  }

  .player__box {
    display: flex;
    width: 100px;
    height: 50px;
  }
  
  .player__button {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url("./../../assets/images/rupor-button.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  .player__voice {
    display: none;
    width: 50px;
    height: 50px;
    background-size: 70%;
    background-image: url("./../../assets/images/rupor-voice.jpg");
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .player__voice__alarm {
    display: flex;
  }

  .slider__container {
    width: 40%;
  }

  .description__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 85%;
    border: black 1px solid;
  }

  .description__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    border: black 1px solid;
    overflow: hidden;
    position: fixed;
  }

  .description__header__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border: black 1px solid;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .description__header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
  }

  .description__header__content__name {
    width: 100%;
    height: 15%;
    border: black 1px solid;
  }
  
  .description__header__content__nickname {
    width: 100%;
    height: 15%;
    border: black 1px solid;
  }
  
  .description__header__content__player {
    display: flex;
    width: 100%;
    height: 70%;
    border: black 1px solid;
  }

  .description-cover {
    width: 175px;
    height: 315px;
    position: absolute;
    z-index: 90;
    background-color: white;
  }

  .description__container {
    width: 172px;
    height: 330px;
    position: relative;
  }

  .description__header__content__player {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    border: black 1px solid;
  }

  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.66%;
    height: 100%;
    border: black 1px solid;
    font-size: 12px;
  }
}